.hero-section {
    background-image: url("../images/hero_bg.jpg");
    background-size: cover;
    background-position: center;
}

.subscribe-section>div:first-child {
    background-image: url("../images/subscribe_bg.png");
    background-size: cover;
    background-position: center;
}

.bg-black-radial {
    background: radial-gradient(70.71% 70.71% at 50% 50%, rgba(0, 0, 0, 0.24) 0%, rgba(0, 0, 0, 0.00) 60%);
}

.swiper-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (max-width:640px) {
    .hero-section {
        background-image: url("../images/hero_bg_mobile.png");
    }

    .subscribe-section>div:first-child {
        background-image: url("../images/subscribe_bg_mobile.png");
    }
}